---
import Layout from '../layouts/Layout.astro';
import Post from '../components/Post.astro';

const url =`${import.meta.env.PUBLIC_API_URL}/posts?populate=imagen`;
const respuesta = await fetch(url);
const {data} = await respuesta.json();
// console.log(data)
---

<Layout title="Blog." description="Página de Blog y lo que hacemos">
	<main class="contenedor">
		<h1 class="heading">Nuestro BLOG</h1>

		<div class="grid">
			{data?.map(post => (
				<Post 
					titulo={post.attributes.titulo}
					publishedAt={post.attributes.publishedAt}
					contenido={post.attributes.contenido}
					url={post.attributes.url}
					imagen={post.attributes.imagen.data.attributes.formats.medium.url}
				/>
			))}
		</div>

	</main>
</Layout>

<style>
	
</style>
